<!DOCTYPE html>
<html>
  <head>
    <title>Taskapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body> 
    <% flash.each do |key, value| %> 
      <%= content_tag(:div, value, class: "#{key}") %> 
    <% end %>

    <%# <nav class= "navbar navbar-dark bg-primary " style="background-color: #e3f2fd;" > %>
      <% if logged_in? %>
        <%= link_to "profile", user_path(current_user.id), class: 'text-light' %>
        <%= link_to "logout", session_path(current_user.id), method: :delete , class: 'text-light' %>
      <% else %>
        <%= link_to "sign up", new_user_path , class: 'text-light' %>
        <%= link_to "login", new_session_path , class: 'text-light' %>
      <% end %>
    </nav>

    <%= yield %> 
  </body>
</html>

